@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.gradA{
  background: -webkit-linear-gradient(left, #5e81f4 , yellow);
  background: -o-linear-gradient(right, #5e81f4, yellow);
  background: -moz-linear-gradient(right, #5e81f4, yellow);
  background: linear-gradient(to right, #5e81f4 , yellow); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
